{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'basketapp/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="" style="padding-left: 98px; padding-right: 211px; position: relative;">
	{% include 'includes/inc_main_menu.html' %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="basket_list">
                {% include 'basketapp/includes/inc_basket_list.html' %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}