{% extends 'base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static '/style_index.css' %}">
{% endblock %}

{% block content %}
<div class="slider">
	{% include 'includes/inc_main_menu.html' %}
	<div class="text-slider">
		<h3 class="green">тенденции {% now "Y" %}</h3>
		<h3 class="big"> удобные стулья</h3>
		<p>Новый уровень комфорта. Отличные характеристики.</p>
		<a href="#" class="button-order">заказать <img src="{% static '/img/arrow.png' %}" alt=""></a>
	</div>
	<div class="navi">
		<a href="#"></a><a href="#"></a><a href="#"></a>
	</div>
</div>
<div class="featured">
	<div class="featured-menu">
			<a class="active" href="#">Популярные</a><a href="#">Новинки</a>
	</div>
	<a class="explore" href="#">показать все <img src=" {% static '/img/arrow.png' %}" alt=""></a>
	<div class="clearfix">
	</div>

	<div class="tab-content">
		{% for tab in tab_content %}
		<div class="block">
			<a href="#"><img src="{% static tab.href %}" alt="{{tab.name}}">
				<div class="text">
					<img src="{% static tab.icon_hover %}" alt="img">
					<h4>{{tab.name}}</h4>
					<p>Расположитесь комфортно. </p>
				</div>
			</a>
		</div>
		{% endfor %}





</div>
{% endblock %}