{% load static %}

<div class="related-products clearfix">
					<div class="block">
						<a href="#"><img src="{% static '/mainapp/img/product-11.jpg' %}" alt="">
							<div class="text">
								<img src="{% static '/mainapp/img/icon-hover.png' %}" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="{% static '/mainapp/img/product-21.jpg ' %}" alt="">
							<div class="text">
								<img src="{% static '/mainapp/img/icon-hover.png' %}" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="{% static '/mainapp/img/product-31.jpg' %}" alt="">
							<div class="text">
								<img src="{% static '/mainapp/img/icon-hover.png' %}" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>

				</div>